@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Todos los Clientes</h2>

@if (!Model.Any())
{
    <p>Aún no se cargó algún cliente</p>
}
else
{
<table id="customers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Clientes</th>
            <th>Tipo de Membresía</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var cliente in Model)
        {
            <tr>
                <td>@Html.ActionLink(cliente.Name, "Edit", "Customer", new { id = cliente.Id}, null )</td>
                <td>@cliente.MembershipType.Name</td>
                <td>
                    <button data-customer-id="@cliente.Id" class="btn-link js-delete">Delete</button>
                </td>
                @*Para mapear lo anterior, hay que cargar a los clientes y sus tipos de membresia juntos (eager loading)*@
            </tr>
        }
    </tbody>
</table>
 }

@section scripts
{
    <script>

        $(document).ready(function () {

            $("#customers").DataTable();

            $("#customers").on("click",".js-delete", function () {

                var button = $(this);

                bootbox.confirm("Desas borrar el cliente de id ?" , function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/customers/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                button.parents("tr").remove();
                            }
                        });   
                    }

                 });             
                
             });
        });

    </script>
 }


